<!DOCTYPE html>
<html>
    <meta>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include stylesheet %>
        <% include javascript-lib %>
    </meta>

    <body>
        <div id='wallhack'></div>
        <% include templates %>
        <% include javascript %>
    </body>
</html>
